<!DOCTYPE html>
<html lang="en" lang="en">

<head></head>

<body>
    <h1>Runs on noball, freehit and wideball.</h1><br>
    <form action="extrarun" method="post">
        {% csrf_token %}
        <button name="dot" type="submit">0</button><br>
        <button name="one" type="submit">1</button><br>
        <button name="two" type="submit">2</button><br>
        <button name="three" type="submit">3</button><br>
        <button name="four" type="submit">4</button><br>
        <button name="five" type="submit">5</button><br>
        <button name="six" type="submit">6</button><br>
    </form>
</body>

</html>