<!DOCTYPE html>
<html>

<head>

</head>

<body>
    <form action="team_name" method="post">
        {% csrf_token %}
        team:<input type="text" name="team1"><br>
        player1: <input type="text" name="player1"><br>
        player2: <input type="text" name="player2"><br>
        player3: <input type="text" name="player3"><br>
        player4: <input type="text" name="player4"><br>
        player5: <input type="text" name="player5"><br>
        player6: <input type="text" name="player6"><br>
        player7: <input type="text" name="player7"><br>
        player8: <input type="text" name="player8"><br>
        player9: <input type="text" name="player9"><br>
        player10: <input type="text" name="player10"><br>
        player11: <input type="text" name="player11"><br>
        <input type="submit" value="Submit">
    </form>
</body>

</html>